<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aditi.patriotism">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" PATRIOTISM"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SongsActivity"
            android:label="SONGS"/>
        <activity android:name=".VideosActivity"
            android:label="VIDEO SONGS"/>
        <activity android:name=".QuotesActivity"
            android:label="QUOTES"/>
        <activity android:name=".FreedomFighterActivity"
            android:label="FREEDOM FIGHTERS"/>
        <activity android:name=".LoginActivity"
android:label="LOGIN"
            />
        <activity android:name=".RegisterActivity"
            android:label="REGISTRATION"/>
        <activity android:name=".NationalistWiki"
            android:label="WIKIPEDIA"/>
        <activity android:name=".videos2"
            android:label="VIDEO SONGS"/>
        <activity android:name=".NewSongs"
            android:label="NEW SONGS"/>
        <activity android:name=".OldSongs"
            android:label="OLD SONGS"></activity>
    </application>

</manifest>